body {
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.front {
    width: 500px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    background-color: rgb(255, 179, 179);
}
#header {
    font-weight: 300;
    background-color: rgb(212, 164, 164);
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 36px;
    text-align: center;
}
img {
    height: auto;
    width: 500px;
    display: block;
}
.header3 {
    font-weight: 200;
    background-color: rgb(212, 164, 164);
    padding: 8px;
    margin-top: 8px;
}
.index-list a{
    background-color: rgb(212, 164, 164);
    display:inline-block;
    margin-bottom: 8px;

}
.paragraph {
    background-color: rgb(212, 164, 164);
}
.ingredients, .instructions{
    background-color: rgb(212, 164, 164);
}
/*body {
    width: 500px;
    margin: auto;
    text-align: center;
}
img {
    height:auto;
    width: 500px;
}*/
/*
.front.unlist {
    font-weight: 100;
}
#header {
    font-size: 100px;
}
.header3 {
    font-weight: 300;
}
.front {
    font-weight: 500;
    font-family: Helvetica, "Times New Roman", sans-serif;
    background-color: rgb(200, 186, 63);
    font-size: 22px;
    color: hsl(20,20,20);
    text-align: center;
}*/
